<hr class="hidden" />
<footer role="contentinfo" class="bg-binding-dark text-yellow-400 text-xs py-16">
  <div class="max-w-6xl mx-auto space-y-5 px-5 sm:px-2">
    <div class="hue-rotate space-y-2">
      <p>
        &copy; {{ build.timestamp | dateToFormat('yyyy') }} Phil Wolstenholme unless otherwise stated (such as Creative Commons license
        images within articles)
      </p>
      <p>
        Built with the
        <abbr title="Tailwind Eleventy Alpine" class="no-underline">TEA</abbr>
        stack <span aria-hidden="true">🍵</span>: Tailwind CSS, Eleventy, and a little bit of Alpine.js. Hosted on Netlify.
      </p>
      <p><i>I’ve been listening to</i> data provided by the last.fm API, Artist photos provided by Spotify.</p>
    </div>

    <div class="flex flex-wrap items-center gap-2">
      <p id="homepage-lighthouse-scores" class="hue-rotate">Homepage Lighthouse scores (%):</p>
      <ul class="no-list p-0 flex flex-wrap gap-2" aria-describedby="homepage-lighthouse-scores">
        <li class="text-green-400 border-2 border-green-500 rounded-full p-1 w-8 h-8 leading-5 text-center">
          <span class="sr-only">Performance: </span><span>98</span><span class="sr-only">%</span>
        </li>
        <li class="text-green-400 border-2 border-green-500 rounded-full p-1 w-8 h-8 leading-5 text-center">
          <span class="sr-only">Accessibility: </span><span>100</span><span class="sr-only">%</span>
        </li>
        <li class="text-green-400 border-2 border-green-500 rounded-full p-1 w-8 h-8 leading-5 text-center">
          <span class="sr-only">Best practices: </span><span>100</span><span class="sr-only">%</span>
        </li>
        <li class="text-green-400 border-2 border-green-500 rounded-full p-1 w-8 h-8 leading-5 text-center">
          <span class="sr-only">SEO: </span><span>100</span><span class="sr-only">%</span>
        </li>
      </ul>
    </div>

    <p class="space-x-3 hue-rotate">
      <button
        x-data="{clicked:false}"
        x-on:click="if (clicked) { location.reload(); return; }; clicked = true; document.querySelectorAll('style,link[rel=\'stylesheet\']').forEach(item => item.remove()); document.querySelectorAll('[style]:not([x-show])').forEach(item => item.removeAttribute('style')); document.querySelectorAll('[class]').forEach(item => item.removeAttribute('class'));"
        class="underline"
        x-text="clicked ? 'Reload the page to restore the CSS' : $el.innerText"
        x-bind:aria-label="clicked ? 'Reload the page to restore the CSS' : $el.getAttribute('aria-label')"
        aria-label="View page without CSS"
      >
        View page without CSS
      </button>
    </p>
  </div>
</footer>
