<hr class="hidden" />
<footer role="contentinfo" class="bg-black bg-binding-dark text-yellow-400 text-xs py-16">
  <div class="section__inner mx-auto space-y-5 md:grid grid-cols-2 md:space-y-0 gap-5">
    <div class="space-y-4">
      <p>
        &copy; <time datetime="1989-05-16" title="🎂">1989</time>-{{ build.timestamp | dateToFormat('yyyy') }} Phil Wolstenholme unless
        otherwise stated (there might be the odd Creative Commons license image within articles)
      </p>
      <p>
        Built with the
        <abbr title="Tailwind Eleventy Alpine" class="no-underline">TEA</abbr>
        stack <span aria-hidden="true">🍵</span>: Tailwind CSS, Eleventy, and a little bit of Alpine.js. Hosted on Netlify.
      </p>
      <div class="space-y-2">
        <p>Pulls in API data from:</p>
        <ul class="list-disc ml-6">
          <li>DEV Community</li>
          <li>Medium</li>
          <li>Spotify</li>
          <li>Instagram</li>
          <li>Foursquare</li>
          <li>Twitter</li>
          <li>PageSpeed Insights</li>
        </ul>
      </div>
    </div>

    <div class="space-y-4">
      <p
        hidden
        x-data="{time: null}"
        x-init="
          function() { 
            this.$root.removeAttribute('hidden');
            const perfData = window.performance.timing;
            let pageLoadTime = perfData.loadEventEnd - perfData.navigationStart;
            pageLoadTime = +(Math.round(pageLoadTime/1000 + 'e+2')  + 'e-2');
            this.time = pageLoadTime;
            if (pageLoadTime < 0) {
              this.$root.remove();
            }
          }
        "
      >
        This page loaded in <span x-text="time" class="font-mono">?.??</span> seconds.
      </p>

      <ul class="space-y-3 md:flex md:space-y-0 md:space-x-3">
        <li>
          <span aria-hidden="true">🚫&nbsp;</span>
          <a href="{{ noCssUrl }}" rel="nofollow" class="underline">View page without CSS</a>
        </li>
        <li>
          <span aria-hidden="true">🚫&nbsp;</span>
          <a href="{{ noJsUrl }}" rel="nofollow" class="underline">View page without JavaScript</a>
        </li>
      </ul>

      <div class="flex flex-wrap items-center gap-2">
        <p id="homepage-lighthouse-scores">Homepage Lighthouse scores (%):</p>
        <ul class="flex items-center space-x-1" aria-labelledby="homepage-lighthouse-scores" role="list">
          {% for key, result in lighthouse.categories %}
          <li
            class="flex items-center justify-center cursor-help rounded-full h-8 w-8 border-2 {{ 'border-green-300' if result.grade === 'good' else 'border-yellow-400' }}"
            title="{{ result.title }}"
          >
            <span class="sr-only">{{ result.title }}: </span>{{ result.score }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
