<hr class="hidden" />
<footer id="footer" role="contentinfo" class="bg-black bg-binding-dark text-yellow-400 text-xs py-16">
  <div class="section__inner mx-auto space-y-5 md:grid grid-cols-2 md:space-y-0 gap-5">
    <div class="space-y-4">
      <p>
        &copy; <time datetime="1989-05-16" title="🎂">1989</time>-{{ build.timestamp | dateToFormat('yyyy') }} Phil Wolstenholme unless
        otherwise stated (there might be the odd Creative Commons license image within articles)
      </p>
      <p>
        Built with the
        <abbr title="Tailwind Eleventy Alpine" class="no-underline">TEA</abbr>
        stack <span aria-hidden="true">🍵</span>: Tailwind CSS, Eleventy, and a little bit of Alpine.js. Hosted on Netlify.
      </p>
      <div class="space-y-2">
        <p>Pulls in API data from:</p>
        <ul role="list" class="list-disc ml-6">
          <li>DEV Community</li>
          <li>Medium</li>
          <li>Spotify</li>
          <li>Instagram</li>
          <li>Foursquare</li>
          <li>Twitter</li>
          <li>PageSpeed Insights</li>
          <li>GitHub</li>
          <li>Airtable</li>
        </ul>
      </div>
      <p>
        <a
          class="underline"
          href="https://www.freepik.com/free-photo/white-grungy-wall-textured-background_15599830.htm#query=grunge&position=6&from_view=search"
          >[One of the grunge textures] Image by rawpixel.com</a
        >
        on Freepik
      </p>
    </div>

    <div class="space-y-4">
      <p
        hidden
        x-data="{time: null}"
        x-init="
          function() { 
            this.$root.removeAttribute('hidden');
            const perfData = window.performance.timing;
            this.time = ((perfData.loadEventEnd - perfData.navigationStart) / 1000).toFixed(2);
            if (this.time < 0) {
              this.$root.remove();
            }
          }
        "
      >
        This page fully loaded in <span x-text="time" class="font-mono">?.??</span> seconds.
      </p>

      <ul role="list" class="space-y-3 md:flex md:space-y-0 md:space-x-3">
        <li>
          <span aria-hidden="true">🚫&nbsp;</span>
          <a href="https://wolstenhol-no-css.philgw.workers.dev" rel="nofollow" class="underline">View page without CSS</a>
        </li>
        <li>
          <span aria-hidden="true">🚫&nbsp;</span>
          <a href="https://wolstenhol-no-js.philgw.workers.dev" rel="nofollow" class="underline">View page without JavaScript</a>
        </li>
      </ul>

      <div class="space-y-3">
        <div class="flex flex-wrap items-center gap-2">
          <a
            href="https://googlechrome.github.io/lighthouse/viewer/?psiurl=https://wolstenhol.me&strategy=mobile&category=performance&category=accessibility&category=bestpractices&category=seo"
            class="underline"
            id="homepage-lighthouse-scores"
            >Homepage Lighthouse scores (%):</a
          >
          <ul role="list" class="flex items-center space-x-1" aria-labelledby="homepage-lighthouse-scores">
            {% for key, result in lighthouse.categories %}
            <li
              class="flex items-center justify-center cursor-help rounded-full h-8 w-8 border-2 {{ 'border-green-300' if result.grade === 'good' else 'border-yellow-400' }}"
              title="{{ result.title }}"
            >
              <span class="sr-only">{{ result.title }}: </span>{{ result.score }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <p>
          Note that
          <a href="https://github.com/GoogleChrome/lighthouse/blob/main/docs/variability.md" class="underline"
            >Lighthouse's high variability</a
          >
          means that the performance score above changes each time my site rebuilds itself. I've seen the score go as low as 55 (😳) on one
          evening (network issues?), but it also hits 100 now and again (🥳). I've included a totally superfluous sparkline below:
        </p>
        <img
          src="https://v1.sparkline.11ty.dev/120x30/{{ lighthouseSparkline }}/%23ffd600/"
          width="120"
          height="30"
          alt="Sparkline representing Lighthouse performance scores over time"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</footer>
