{{ data.page }}
<header
  role="banner"
  class="pw-header w-full h-12 sticky top-0 z-20 focus-within:z-50 bg-binding-dark text-white py-2 px-5 sm:px-2"
  x-ignore
  ax-load="idle"
  x-data="PwHeader"
  x-on:pw-header-active-section-id.window="activeSection = $event.detail"
 {% if page.filePathStem == '/' %}style="content-visibility: hidden; contain-intrinsic-height: 48px"{% endif %}
>
  <div class="section__inner mx-auto flex space-x-4">
    <a href="/#content" rel="home" class="block flex-shrink-0 w-8 h-8">
      <span class="sr-only">Home</span>
      <img
        hidden
        alt="Phil Wolstenholme"
        class="inline-block w-8 h-8 bg-yellow-300 rounded-full"
        src="https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,f_auto,w_32,q_auto:eco/v1545084898/avatar_egzcjk.png"
        srcset="https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,f_auto,w_64,q_auto:eco/v1545084898/avatar_egzcjk.png 2x"
        width="32"
        height="32"
        fetchpriority="low"
        loading="lazy"
      />
    </a>
    <nav class="header-nav relative flex flex-1 items-center overscroll-contain overflow-x-auto hide-scrollbars" role="navigation" tabindex="-1" aria-labelledby="in-page-navigation">
      <h2 id="in-page-navigation" class="sr-only">In-page navigation</h2>
      <div class="header-nav--indicator flex-shrink-0 bg-binding-dark header-nav--indicator__left sticky left-0 top-0 bottom-0"></div>
      <ul
        id="PwHeaderList"
        role="list"
        class="header-nav__list flex align-center space-x-3"
        x-ref="list"
      >
        {%- for item in headerLinks.items -%} {% set id = item.href.replace('/#', '').replace('#', '') %}
          {% if item.href != '/#photos' or (item.href == '/#photos' and instagram) %}
            <li class="flex-shrink-0">
              {% set linkFirstChar = item.href.slice(0, 1) %}
              {% set linkSecondChars = item.href.slice(0, 2) %}
              <a
                href="{{ item.href }}"
                class="font-bold font-serif underline hocus:text-yellow-300 {% if page.filePathStem == item.href %}text-yellow-300{% endif %}"
                x-bind:class="{
                  {% if linkFirstChar == '#' or linkSecondChars == '/#' %}'text-yellow-300': activeSection === '{{ id }}'{% endif %}
                  {% if linkFirstChar != '#' and linkSecondChars != '/#' %}'text-yellow-300': window.location.pathname === '{{ item.href }}'{% endif %}
                }" 
                x-on:click.prevent="activeSection = '{{ id }}'; onLinkActivate($event)"
                x-on:keydown.enter.prevent="activeSection = '{{ id }}'; onLinkActivate($event)"
              >
                {{ item.title }} 
              </a>
            </li>
          {% else %}
        {% endif %}
        
        {%- endfor -%}
      </ul>
      <div class="header-nav--indicator flex-shrink-0 bg-binding-dark header-nav--indicator__right sticky right-0 top-0 bottom-0"></div>
    </nav>
  </div>
  <div class="-mx-5 sm:-mx-2 bg-binding-dark h-3 transform shadow-hard" style="--tw-skew-y: -0.3deg !important"></div>
</header>

<script>
  (() => {
    let url = new URL(window.location.href);
    let params = new URLSearchParams(url.search);

    if (window.location.search.includes('hsp=')) {
      const scrollLeft = params.get('hsp');
      document.getElementById("PwHeaderList").scrollLeft = scrollLeft;

      params.delete('hsp');
      url.search = params.toString();
      history.replaceState({}, '', url.toString());
    }

    if (window.location.search.includes('hc=')) {
      const header = document.querySelector('header');
      header.classList.add('z-50');
      setTimeout(() => {
        // The class only neees to be there long enough to scroll down to an anchor.
        header.classList.remove('z-50');
      }, 5 * 1000);

      params.delete('hc');
      url.search = params.toString();
      history.replaceState({}, '', url.toString());
    }

    document.querySelector(`a[href*="${CSS.escape(window.location.hash)}"]`)?.classList.add('text-yellow-300');
  })();
</script>