{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(build.url) }}{%- endset -%}
{%- set absolutePageUrl -%}{{ absolutePageUrl | replace('.html', '') }}{%- endset -%}
<meta name="description" content="{{ seo.description or meta.description }}" />
<link rel="canonical" href="{{ absolutePageUrl }}" />

{# Open Graph #}
<meta property="og:site_name" content="{{ meta.title }}" />
<meta property="og:title" content="{% if seo.title %}{{ seo.title }}{% else %}{{ title }} | {{ meta.title }}{% endif %}" />
<meta property="twitter:title" content="{% if seo.title %}{{ seo.title }}{% else %}{{ title }} | {{ meta.title }}{% endif %}" />
<meta property="og:description" content="{{ seo.description or meta.description }}" />
<meta property="twitter:description" content="{{ seo.description or meta.description }}" />
<meta property="og:url" content="{{ absolutePageUrl }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="og:type" content="website" />
<meta name="twitter:site" content="@philw_">
<meta name="twitter:creator" content="@philw_">
<meta name="twitter:card" content="summary_large_image" /> 
<meta name="image" property="og:image" content="https://wolstenhol.me/og?title={% if seo.title %}{{ seo.title | urlencode | safe }}{% else %}{{ title | urlencode | safe }}{% endif %}&url={{ absolutePageUrl | urlencode | safe }}&v=1.5.0" />
<meta property="og:image:alt" content="{% if seo.title %}{{ seo.title }}{% else %}{{ title }}{% endif %}, a webpage by Phil Wolstenholme, @philw_" />
<link rel="alternate" type="application/rss+xml" title="My posts on dev.to" href="https://dev.to/feed/philw_" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=lkvRGjnrz8">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=lkvRGjnrz8">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=lkvRGjnrz8">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=lkvRGjnrz8" color="#666666">
<link rel="shortcut icon" href="/favicon.ico?v=lkvRGjnrz8">
<meta name="msapplication-TileColor" content="#fbbf24">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=lkvRGjnrz8">
<meta name="theme-color" content="#161616">