---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  <url>
    <loc>{{ build.url }}{{ page.url | url | replace(".html", "") }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>{{ page.data.seo.changeFreq if page.data.seo.changeFreq else "weekly" }}</changefreq>
  </url>
  {%- endfor %}
</urlset>
