html {
  scroll-padding-top: 5em;
}

:root {
  --scrollbar-width: calc(100vw - 100%);
}

/**
 * Disable animations if the user has turned on the a11y option for reduced motion due to
 * vestibular disorders etc.
 *
 * @link https://css-tricks.com/introduction-reduced-motion-media-query/#article-header-id-3
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    transition-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
  }
}

::selection,
::target-text {
  @apply bg-yellow-300 text-black;
}

/**
 * `x-cloak` attributes are removed from elements when Alpine initializes.
 * This is useful for hiding pre-initialized DOM.
 *
 * @link https://github.com/alpinejs/alpine#x-cloak
 *
 */
[x-cloak] {
  @apply hidden;
}

.hue-rotate,
.hue-rotate-links a {
  animation: hue-rotate 30s infinite;
  animation-delay: 10s;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

a {
  transition: all 0.25 ease-in-out;
}

.bg-binding-dark,
.bg-binding-dark:after,
.bg-binding-dark:before {
  background-color: #171717;
  background-image: url('https://wolstenhol.me/proxy/cloudinary/image/upload/c_crop,f_auto,h_200,w_200,q_auto:eco/v1473712910/binding_dark_im2rpa.png');
}

.bg-subtle-grunge,
.bg-subtle-grunge:after,
.bg-subtle-grunge:before {
  background-color: #f4f4f4;
  background-image: url('https://wolstenhol.me/proxy/cloudinary/image/upload/c_crop,f_auto,h_200,w_200,q_auto:eco/v1473712910/subtle_grunge_ux3r0f.png');
}

button {
  user-select: none;
}

.custom-scrollbars {
  scrollbar-color: #848584 transparent;

  &:focus {
    scrollbar-color: hotpink transparent;

    &::-webkit-scrollbar-thumb {
      background: hotpink;
      border: 0 none hotpink;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: darken(hotpink, 20%);
    }
    &::-webkit-scrollbar-thumb:active {
      background: darken(hotpink, 40%);
    }
  }

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #848584;
    border: 0 none #848584;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken(#848584, 20%);
  }
  &::-webkit-scrollbar-thumb:active {
    background: darken(#848584, 40%);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border: 0 none #fff;
    border-radius: 45px;
  }
  &::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  &::-webkit-scrollbar-track:active {
    background: transparent;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
