@import 'tailwindcss/base';
@import '_base.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  @responsive {
    .scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }
    .scrolling-auto {
      -webkit-overflow-scrolling: auto;
    }
    .hide-scrollbars {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scrollbars::-webkit-scrollbar {
      width: 0px;
      height: 0;
    }

    .items-1 {
      --items: 1;
    }
    .items-2 {
      --items: 2;
    }
    .items-3 {
      --items: 3;
    }
    .items-4 {
      --items: 4;
    }
    .items-5 {
      --items: 5;
    }
    .items-6 {
      --items: 6;
    }
    .items-7 {
      --items: 7;
    }
  }

  .links-underline a {
    text-decoration: underline;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

.icon {
  position: relative;
  top: -0.0625em;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/assets/fonts/roboto-slab-v12-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-slab-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('/assets/fonts/roboto-slab-v12-latin-700.woff2') format('woff2'),
    url('/assets/fonts/roboto-slab-v12-latin-700.woff') format('woff');
}

/* purgecss ignore */
[data-whatintent='mouse'] *:focus {
  outline: none !important;
  box-shadow: none !important;
}

footer {
  content-visibility: auto;
}

.scroller-item--fit-to-grid {
  width: calc((100% - (1.25rem * (var(--items) - 1))) / var(--items));
}

.has-blurry-placeholder {
  background-size: cover;
}
