<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="no-js bg-binding-dark antialiased scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {%- if seo.title -%}
      {{ seo.title }}
      {%- else -%}
      {{ title }} | {{ meta.title }}
      {%- endif -%}
    </title>
    {% include "meta.njk" %}
    <script>
      {% include "../../node_modules/loadjs/dist/loadjs.min.js" %}
    </script>
    <script>
      if (
        document.location.hash.includes('access_token') &&
        document.location.hash.includes('token_type') &&
        document.location.hash.includes('expires_in') &&
        document.location.hash.includes('refresh_token')
      ) {
        const redirectUrl = 'https://wolstenhol.me/submit-reading-item';
        window.location = redirectUrl + document.location.hash;
      }

      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });

        let deferredPwaPrompt;
        window.addEventListener('beforeinstallprompt', e => {
          e.preventDefault();
          deferredPwaPrompt = e;
        });
      }
    </script>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="preload" as="font" href="/assets/fonts/roboto-slab-v12-latin-regular.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/assets/fonts/roboto-slab-v12-latin-700.woff2" type="font/woff2" crossorigin="anonymous" />
    <style>
      /*
       * https://infrequently.org/2020/12/resize-resilient-deferred-rendering/
       */
      body main section + section {
        content-visibility: auto;
        contain-intrinsic-size: 10px 500px;
      }
    </style>
  </head>
  <body class="text-gray-900 leading-normal overscroll-x-none overflow-x-hidden overflow-y-scroll">
    <script>
      let root = document.documentElement;
      let scrollbarWidth = window.innerWidth - document.body.offsetWidth;
      root.style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);
      window.pw = window.pw || {};
    </script>
    <a
      href="#content"
      class="bg-binding-dark block border border-yellow-500 focus:not-sr-only left-3 p-5 sr-only text-yellow-500 top-3 z-50"
      >Skip to main content</a
    >
    <div role="document" class="min-h-screen flex flex-col">
      {% include "header.njk" %}
      <main class="flex-grow w-full bg-subtle-grunge outline-none" id="content" tabindex="-1">
        {% if (page.url == '/') %} {% include "homepage/homepage-header.njk" %}
        <div class="-mb-6 -mt-6 -skew-y-1 transform z-10">
          <div class="bg-binding-dark h-12"></div>
          <div class="bg-subtle-grunge h-12"></div>
        </div>
        {% endif %}
        <div class="mx-auto section__inner py-10 lg:pb-28">
          <img
            hidden
            class="absolute inline opacity-40 blend-multiply"
            loading="eager"
            alt=""
            width="500"
            height="451"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            srcset="
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_500/v1614122419/one-offs/cup-coffee-stain-2.jpg  1x,
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_1000/v1614122419/one-offs/cup-coffee-stain-2.jpg 2x
            "
            style="left: -230px; top: 600px"
          />
          <img
            hidden
            class="absolute blend-multiply inline opacity-40 transform object-cover object-left"
            loading="lazy"
            decoding="async"
            alt=""
            width="112"
            height="405"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            srcset="
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_500/v1614122419/one-offs/cup-coffee-stain-2.jpg  1x,
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_1000/v1614122419/one-offs/cup-coffee-stain-2.jpg 2x
            "
            style="right: 0; top: 1900px; height: 405px; width: 9%"
          />
          <img
            hidden
            class="absolute inline opacity-40 blend-multiply transform -rotate-45"
            loading="lazy"
            decoding="async"
            alt=""
            width="500"
            height="451"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            srcset="
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_500/v1614122419/one-offs/cup-coffee-stain-2.jpg  1x,
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_1000/v1614122419/one-offs/cup-coffee-stain-2.jpg 2x
            "
            style="left: -230px; top: 2900px"
          />
          <div class="transform">
            {{ content | safe }}
          </div>
        </div>
      </main>
      {% include "footer.njk" %}
    </div>
    <noscript><link rel="stylesheet" href="{{ '/assets/main.css' | url }}" /></noscript>
    <div hidden>{% include "src/assets/sprite.svg" %} {% include "src/assets/design-elements.svg" %}</div>
    <!-- <script type="module">
      const cssNakedDate = 9;
      const now = new Date();
      let start = new Date(now.getFullYear(), 3, cssNakedDate);
      let end = new Date(now.getFullYear(), 3, cssNakedDate);
      // Spread the event across the world by adding 12 hours before and after the 9th in local time.
      start.setTime(start.getTime() - 12 * 60 * 60 * 1000);
      end.setTime(end.getTime() + 36 * 60 * 60 * 1000);

      const params = new URLSearchParams(window.location.search);
      if (now > start && now < end && params.get('cssnd') !== '0') {
        document.querySelectorAll(`link[rel~="stylesheet"],style`).forEach(link => link.remove());
        document.querySelectorAll(`[class]`).forEach(el => el.removeAttribute('class'));
        const message = document.createElement('div');
        const body = document.getElementsByTagName('body')[0];
        message.innerHTML = `
          <p>Why is this page looking so simple? It\'s <a href="https://css-naked-day.github.io">CSS Naked Day</a>! If you really want, you can <a href="/?cssnd=0">bring back the CSS</a>.</p>
          <p>Removing the <abbr title="Cascading Style Sheets">CSS</abbr> of a website can reveal how well semantic HTML has been used. My markup isn't perfect, I'd like to make just the headings in my card components a link, rather than using a link that wraps the whole card. This will help avoid <a href="https://inclusive-components.design/cards/#:~:text=This%20is%20not%20without%20its%20problems.%20Now%2C%20all%20of%20the%20card%20contents%20form%20the%20label%20of%20the%20link.%20So%20when%20a%20screen%20reader%20encounters%20it%2C%20the%20announcement%20might%20be%20something%20link%20%22Card%20design%20woes%2C%20ten%20common%20pitfalls%20to%20avoid%20when%20designing%20card%20components%2C%20by%20Heydon%20Pickering%2C%20link%22.">issues for assistive tech users</a>.</p>
          <hr>
        `;
        body.insertBefore(message, body.firstChild);
      }
    </script> -->
    <script type="module">
      // https://infrequently.org/2020/12/resize-resilient-deferred-rendering/
      let eqIsh = (a, b, fuzz = 2) => {
        return Math.abs(a - b) <= fuzz;
      };

      let rectNotEQ = (a, b) => {
        return !eqIsh(a.width, b.width) || !eqIsh(a.height, b.height);
      };

      let spaced = new WeakMap();

      let reserveSpace = (el, rect = el.getClientBoundingRect()) => {
        let old = spaced.get(el);
        if (!old || rectNotEQ(old, rect)) {
          spaced.set(el, rect);
          el.attributeStyleMap.set('contain-intrinsic-size', `${rect.width}px ${rect.height}px`);
        }
      };

      let iObs = new IntersectionObserver(
        (entries, o) => {
          entries.forEach(entry => {
            reserveSpace(entry.target, entry.boundingClientRect);
          });
        },
        { rootMargin: '500px 0px 500px 0px' }
      );

      let rObs = new ResizeObserver((entries, o) => {
        entries.forEach(entry => {
          reserveSpace(entry.target, entry.contentRect);
        });
      });

      let sections = document.querySelectorAll('body main section');

      sections.forEach(el => {
        iObs.observe(el);
        rObs.observe(el);
      });

      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          sections[0].attributeStyleMap.set('content-visibility', 'auto');
        });
      });
    </script>
    <script type="module">
      window.addEventListener('scroll', loadJsOnInteraction, { passive: true, once: true });
      window.addEventListener('touchstart', loadJsOnInteraction, { passive: true, once: true });
      window.addEventListener('mousemove', loadJsOnInteraction, { passive: true, once: true });

      async function loadJsOnInteraction() {
        await import('/assets/scripts/main.js');
        window.removeEventListener('scroll', loadJsOnInteraction);
        window.removeEventListener('touchstart', loadJsOnInteraction);
        window.removeEventListener('mousemove', loadJsOnInteraction);
      }
    </script>
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
</html>
