<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="no-js antialiased overflow-y-scroll overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {%- if seo.title -%}
      {{ seo.title }}
      {%- else -%}
      {{ title }} | {{ meta.title }}
      {%- endif -%}
    </title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    {% include "meta.njk" %}
    <style>
      /*
       * https://infrequently.org/2020/12/resize-resilient-deferred-rendering/
       */
      body main section + section {
        content-visibility: auto;
        contain-intrinsic-size: 10px 667px;
      }
    </style>
    <noscript>
      <style>
        body main section + section {
          contain-intrinsic-size: unset;
          content-visibility: unset;
        }
      </style>
    </noscript>
  </head>
  <body class="text-gray-900 bg-subtle-grunge leading-normal connection--unknown">
    <script>
      document.querySelector('html').classList.remove('no-js');
      document.querySelector('html').classList.add('js');

      if (navigator.connection && navigator.connection.effectiveType) {
        document.body.classList.remove('connection--unknown');
        document.body.classList.add(`connection--${navigator.connection.effectiveType}`);
      }
    </script>
    <script>
      let root = document.documentElement;
      let scrollbarWidth = window.innerWidth - document.body.offsetWidth;
      root.style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);
    </script>
    <a
      href="#content"
      class="bg-binding-dark block border border-yellow-500 focus:not-sr-only left-3 p-5 sr-only text-yellow-500 top-3 z-50"
      >Skip to main content</a
    >
    <div role="document" class="min-h-screen flex flex-col">
      {% include "header.njk" %}
      <main class="relative flex-grow w-full outline-none" id="content" tabindex="-1">
        {% if page.url == '/' %} {% include "homepage/homepage-header.njk" %}
        <div class="-mb-6 -mt-6 -skew-y-1 transform z-10">
          <div class="bg-binding-dark h-12"></div>
          <div class="bg-subtle-grunge h-12"></div>
        </div>
        {% endif %}
        <div class="absolute inset-0 overflow-hidden">
          <img
            hidden
            data-frivolous-grunge
            class="absolute inline opacity-40 mix-blend-multiply"
            loading="eager"
            fetchpriority="high"
            alt=""
            width="500"
            height="451"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            srcset="
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_500,fl_progressive/v1614122419/one-offs/cup-coffee-stain-2.jpg  1x,
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_1000,fl_progressive/v1614122419/one-offs/cup-coffee-stain-2.jpg 2x
            "
            style="left: -230px; top: 600px"
          />
          <img
            hidden
            data-frivolous-grunge
            class="absolute mix-blend-multiply inline opacity-40 transform object-cover object-left"
            loading="lazy"
            decoding="async"
            alt=""
            width="112"
            height="405"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            srcset="
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_500,fl_progressive/v1614122419/one-offs/cup-coffee-stain-2.jpg  1x,
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_1000,fl_progressive/v1614122419/one-offs/cup-coffee-stain-2.jpg 2x
            "
            style="right: 0; top: 1900px; height: 405px; width: 9%"
          />
          <img
            hidden
            data-frivolous-grunge
            class="absolute inline opacity-40 mix-blend-multiply transform -rotate-45"
            loading="lazy"
            decoding="async"
            alt=""
            width="500"
            height="451"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            srcset="
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_500,fl_progressive/v1614122419/one-offs/cup-coffee-stain-2.jpg  1x,
              https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,q_10,w_1000,fl_progressive/v1614122419/one-offs/cup-coffee-stain-2.jpg 2x
            "
            style="left: -230px; top: 2900px"
          />
        </div>
        <div class="mx-auto section__inner py-10 lg:pb-28">
          <div class="transform">
            {{ content | safe }}
          </div>
        </div>
      </main>
      <dialog id="pwa-update-dialog" x-data class="w-11/12 max-w-3xl bg-black text-white p-4 transform shadow-2xl select-none">
        <button
          type="button"
          class="absolute text-lg font-bold bg-black px-3 py-2 right-3 rounded-bl-lg text-white top-3"
          x-on:click="$root.close();"
        >
          <span class="sr-only">Close</span>
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon"
          >
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </button>
        <form method="dialog" class="leading-snug bg-binding-dark p-4 xl:p-8 pr-14">
          <div class="space-y-3">
            <h2 class="font-serif font-bold text-2xl">Updated content available!</h2>
            <p id="service-worker-update-desc" class="font-bold text-xl">
              If you're not in the middle of anything, click 'Update now' to reload the page with the newest content.
            </p>
            <p>If you don't update now and you have not interacted with my contact form then the page will refresh when you change tabs.</p>
          </div>
          <div class="mt-5 flex gap-3">
            <button
              aria-describedby="service-worker-update-desc"
              autofocus
              value="refresh"
              type="submit"
              class="text-black border-2 border-black flex items-center bg-yellow-300 hocus:bg-yellow-400 px-4 py-2 rounded shadow-hard font-bold space-x-2 select-none"
            >
              Update now to see the newer content
            </button>
          </div>
        </form>
      </dialog>
      {% include "footer.njk" %}
    </div>
    <div hidden>{% include "src/assets/sprite.svg" %} {% include "src/assets/design-elements.svg" %}</div>
    <script type="module">
      // https://infrequently.org/2020/12/resize-resilient-deferred-rendering/
      let eqIsh = (a, b, fuzz = 2) => {
        return Math.abs(a - b) <= fuzz;
      };

      let rectNotEQ = (a, b) => {
        return !eqIsh(a.width, b.width) || !eqIsh(a.height, b.height);
      };

      let spaced = new WeakMap();

      let reserveSpace = (el, rect = el.getClientBoundingRect()) => {
        let old = spaced.get(el);
        if (!old || rectNotEQ(old, rect)) {
          spaced.set(el, rect);
          el.style.setProperty('contain-intrinsic-size', `${rect.width}px ${rect.height}px`);
        }
      };

      let iObs = new IntersectionObserver(
        (entries, o) => {
          entries.forEach(entry => {
            reserveSpace(entry.target, entry.boundingClientRect);
          });
        },
        { rootMargin: '500px 0px 500px 0px' }
      );

      let rObs = new ResizeObserver((entries, o) => {
        entries.forEach(entry => {
          reserveSpace(entry.target, entry.contentRect);
        });
      });

      let sections = document.querySelectorAll('body main section');

      sections.forEach(el => {
        iObs.observe(el);
        rObs.observe(el);
      });

      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          sections[0].style.setProperty('contain-intrinsic-size', 'auto');
        });
      });
    </script>
    <script type="module" src="/assets/scripts/global.js"></script>

    {% if (page.url == '/') %}
    <script type="module" src="/assets/scripts/homepage.js"></script>
    {% endif %} {% if (page.filePathStem == '/github-stars') %}
    <script type="module" src="/assets/scripts/github-stars.js"></script>
    {% endif %} {% if (page.filePathStem == '/contact') %}
    <script type="module" src="/assets/scripts/contact.js"></script>
    {% endif %} {% if (page.filePathStem == '/404') %}
    <script type="module" src="/assets/scripts/404.js"></script>
    {% endif %} {% if (page.filePathStem == '/404') %}
    <script type="module" src="/assets/scripts/work.js"></script>
    {% endif %}

    <script>
      if (
        document.location.hash.includes('access_token') &&
        document.location.hash.includes('token_type') &&
        document.location.hash.includes('expires_in') &&
        document.location.hash.includes('refresh_token')
      ) {
        const redirectUrl = 'https://wolstenhol.me/submit-reading-item';
        window.location = redirectUrl + document.location.hash;
      }
    </script>
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
    {% if build.env == 'production' %}
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "7210db6185e14990ba2dc29243b3e1ef"}'
    ></script>
    {% endif %}
  </body>
</html>
