<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="no-js bg-binding-dark antialiased scroll-smooth overflow-x-hidden overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {%- if seo.title -%}
      {{ seo.title }}
      {%- else -%}
      {{ title }} | {{ meta.title }}
      {%- endif -%}
    </title>
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="dns-prefetch" href="https://res.cloudinary.com" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}" />
    <script>
      {% include "../../node_modules/loadjs/dist/loadjs.min.js" %} document.querySelector('html').classList.remove('no-js'); document.querySelector('html').classList.add('js');
    </script>
    <link rel="preload" as="font" href="/assets/fonts/roboto-slab-v12-latin-regular.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/assets/fonts/roboto-slab-v12-latin-700.woff2" type="font/woff2" crossorigin="anonymous" />
    <link
      rel="preload"
      as="image"
      href="https://res.cloudinary.com/wolstenh/image/upload/c_crop,f_auto,h_200,w_200,q_auto:eco/v1473712910/binding_dark_im2rpa.png"
    />
    {% include "meta.njk" %}
    <style>
      /* 
       * https://infrequently.org/2020/12/resize-resilient-deferred-rendering/
       */
      body main section + section {
        content-visibility: auto;
        contain-intrinsic-size: 10px 500px;
      }
    </style>
  </head>
  <body class="text-gray-900 leading-normal overscroll-x-none">
    <p class="sr-only"><a href="#content">Skip to main content</a>.</p>
    <div role="document" class="min-h-screen flex flex-col">
      {% include "header.njk" %} {% include "homepage/homepage-header.njk" %}
      <div class="-mb-6 -mt-6 -skew-y-1 transform z-10">
        <div class="bg-binding-dark h-12"></div>
        <div class="bg-subtle-grunge h-12"></div>
      </div>
      <main class="flex-grow w-full bg-subtle-grunge outline-none" id="content" tabindex="-1">
        <div class="mx-auto max-w-6xl px-5 sm:px-2 py-10 lg:pb-28">
          {{ content | safe }}
        </div>
      </main>
      {% include "footer.njk" %}
    </div>
    <!-- <script src="{{ '/assets/main.js' | url }}" defer></script> -->
    <script type="module">
      // https://infrequently.org/2020/12/resize-resilient-deferred-rendering/
      let eqIsh = (a, b, fuzz = 2) => {
        return Math.abs(a - b) <= fuzz;
      };

      let rectNotEQ = (a, b) => {
        return !eqIsh(a.width, b.width) || !eqIsh(a.height, b.height);
      };

      let spaced = new WeakMap();

      let reserveSpace = (el, rect = el.getClientBoundingRect()) => {
        let old = spaced.get(el);
        if (!old || rectNotEQ(old, rect)) {
          spaced.set(el, rect);
          el.attributeStyleMap.set('contain-intrinsic-size', `${rect.width}px ${rect.height}px`);
        }
      };

      let iObs = new IntersectionObserver(
        (entries, o) => {
          entries.forEach(entry => {
            reserveSpace(entry.target, entry.boundingClientRect);
          });
        },
        { rootMargin: '500px 0px 500px 0px' }
      );

      let rObs = new ResizeObserver((entries, o) => {
        entries.forEach(entry => {
          reserveSpace(entry.target, entry.contentRect);
        });
      });

      let sections = document.querySelectorAll('body main section');

      sections.forEach(el => {
        iObs.observe(el);
        rObs.observe(el);
      });

      requestAnimationFrame(() => {
        requestAnimationFrame(() => {
          sections[0].attributeStyleMap.set('content-visibility', 'auto');
        });
      });
    </script>
    <script>
      const loader = function () {
        loadjs('{{ '/assets/main.js' | url }}');
      };

      setTimeout(function () {
        'requestIdleCallback' in window
          ? requestIdleCallback(function () {
              loader();
            })
          : loader();
      }, 1000);
    </script>
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
</html>
